@(message: String, partnerCount: Int, repositoryCount: Int)

@main("Dashboard") {

	<section>
	    <p>@message</p>
	</section>

	<section>
		<div class="row">
			<div class="col-md-4">
			    <div class="panel panel-default shortcut">
					<div class="panel-heading">
					  <h3 class="panel-title">Partners</h3>
					</div>
					<div class="panel-body">
					   <h2><a href="@routes.Partners.list()">@partnerCount</a></h2>
					</div>
					<div class="panel-footer">
						<a href="@routes.Partners.add()" class="btn btn-primary btn-sm">Add Partner</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default shortcut">
					<div class="panel-heading">
					  <h3 class="panel-title">Repositories</h3>
					</div>
					<div class="panel-body">
					   <h2><a href="@routes.Repositories.list()">@repositoryCount</a></h2>
					</div>
					<div class="panel-footer">
						<a href="@routes.Repositories.add()" class="btn btn-primary btn-sm">Add Repository</a>
					</div>
				</div>
			</div>
		</div>
	</section>

}
