@(id: Long, projectForm: Form[InboundProject])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(utils.twitterBootstrapInput.render) }

@main("Edit inbound source code repository") {

	@form(routes.InboundProjects.update(id), 'role -> "form") {

		@if(projectForm.hasGlobalErrors) {
		    <p class="has-error">
		    	<span class="help-block">@projectForm.globalError.message</span>
		    </p>
		}

		<fieldset>

			<input type="hidden" name="id" value="@id" />

			@inputText(projectForm("sourceOrganisation"),
						'_label -> "Source organisation",
						'_help -> "Name of organisation sharing repository",
						'class -> "form-control",
						'placeholder -> "Source organisation",
						'autofocus -> "autofocus")
			@inputText(projectForm("projectKey"),
						'_label -> "Project Key",
						'_help -> "E.g. surevine in surevine/gateway",
						'class -> "form-control",
						'placeholder -> "Project Key")
			@inputText(projectForm("repositorySlug"),
						'_label -> "Repository Slug",
						'_help -> "E.g. gateway in surevine/gateway",
						'class -> "form-control",
						'placeholder -> "Repository Slug")

		</fieldset>

		<div class="actions">
            <input type="submit" value="Update inbound repository" data-loading-text="Submitting..." class="btn btn-primary submit">
            <a href="@routes.InboundProjects.list()" class="btn btn-default">Cancel</a>
		</div>

	}

	<script type="text/javascript">
		$( document ).ready(function() {
			$('.submit').on('click', function () {
			    $(this).button('loading');
			});
		});
	</script>

	<h3>Delete repository</h3>

	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm-modal">
	  Delete this repository
	</button>

	<div class="modal fade" id="delete-confirm-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Deletion confirmation</h4>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to delete this repository?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        @form(routes.InboundProjects.delete(id), 'class -> "modal-form") {
		        <input type="submit" name="delete-destination" value="Delete inbound repository" class="btn btn-danger" />
		    }
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

}
