@(projects: List[InboundProject])

@main("Inbound source code repositories") {

    <a href="@routes.InboundProjects.add()" class="btn btn-primary primary-action">Add Repository</a>

    @if(projects.isEmpty) {

		<div class="panel panel-warning">
		  <div class="panel-heading">
		    <h3 class="panel-title">No inbound repositories</h3>
		  </div>
		  <div class="panel-body">
		    <p>No inbound repositories have been configured. Please <a href="@routes.InboundProjects.add()">add an inbound repository</a> to whitelist.</p>
		  </div>
		</div>

    } else {

    	<ul class="list-group">

	    @for(project <- projects) {

	    	<li class="list-group-item">
	    		<span><strong>@project.sourceOrganisation</strong> @project.projectKey / @project.repositorySlug</span>
				<span class="actions pull-right">
					<a href="@routes.InboundProjects.edit(project.id)" class="btn btn-default btn-xs">Edit</a>
				</span>
	    	</li>

	    }

	    </ul>

    }


}
