@(exportRules: String, importRules: String)

@scripts = {
	<script src="@routes.Assets.at("vendor/ace/ace.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("js/syntax-highlighting.js")" type="text/javascript"></script>
}

@main("Global Rules", scripts) {

    <h3>global-export.js <a href="@routes.GlobalRuleFiles.edit("export")" class="btn btn-primary btn-xs">Edit</a></h3>

	@if(flash.contains("export-error")) {
		<div class="alert alert-danger" role="alert"><strong>Error!</strong> @flash.get("export-error")</div>
	} else {
		<pre id="export-rules">@exportRules</pre>
	}

	<h3>global-import.js <a href="@routes.GlobalRuleFiles.edit("import")" class="btn btn-primary btn-xs">Edit</a></h3>

	@if(flash.contains("import-error")) {
		<div class="alert alert-danger" role="alert"><strong>Error!</strong> @flash.get("import-error")</div>
	} else {
		<pre id="import-rules">@importRules</pre>
	}

	<script type="text/javascript">
		syntaxHighlighter.initViewCodePane(document.getElementById('export-rules'));
		syntaxHighlighter.initViewCodePane(document.getElementById('import-rules'));
	</script>

}