#content {
	padding-bottom: 40px;
}

section {
	margin: 20px 0 30px 0 ;
}

input[type="text"], select {
	max-width: 400px;
}

.primary-action {
	margin: 5px 0 15px 0;
}

h4 a.btn {
	margin: -2px 0 0 6px;
}

.project-repo-slash {
	font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
}

/* Dashboard */

.shortcut h2 {
	text-align: center;
	margin: 10px 0;
	font-size: 40px;
}

/* Destination & Repo Pages */

.partner-info th, .repo-info th {
	padding-right: 10px;
}

.project-list {
	margin-top: 10px;
}

.project-list form {
	display: inline;
}

.shared-repos {
	margin: 25px 0 0 0;
}

.repo-list {
	margin-top: 10px;
}

.shared-repos .table, .repo-list .table {
	margin-bottom: 0;
}

.shared-repos .table th, .repo-list .table th {
     border-top: none;
 }

 .partner-list .table tr th, .partner-list .table tr td {
 	padding-left: 0;
 }

 .shared-repos .no-federation, .repo-list .no-federation {
 	margin-top: 8px;
 	margin-bottom: 0;
 }

/* Share project pages */

.input-group {
	margin-bottom: 10px;
}

.resend {
	margin-right: 5px;
}

#federate-repo-form-panel .nav-pills {
	margin: 0px 0 10px 0;
}

#federate-repo-form-panel .radio h5 {
	margin-top: 3px;
}

#federate-repo-form-panel .all-configured {
	margin-top: 28px;
}

#repo-type-filter {
	margin-bottom: 0;
}

/* Form controls */

.modal-form {
	display: inline;
}

/* Global rules */

#view-global-rules .nav-pills {
	margin: 10px 0;
}

.edit-info {
	margin: 10px 0;
}

.edit-info th {
	padding-right: 10px;
}