@(projectForm: Form[Project])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(utils.twitterBootstrapInput.render) }

@main("Add source code project") {

	<h2>Add source code project</h2>

	@form(routes.Projects.create(), 'role -> "form") {

		<fieldset>

			@inputText(projectForm("displayName"), '_label -> "Name", '_help -> "Name of project", 'class -> "form-control", 'placeholder -> "Name")

			<div class="form-inline">
				<label>Project URL Slug</label><br />
				@inputText(projectForm("projectKey"), '_label -> "", '_help -> "", 'class -> "form-control", 'placeholder -> "Project name")
				<span class="form-control-static project-repo-slash">/</span>
				@inputText(projectForm("repositorySlug"), '_label -> "", '_help -> "", 'class -> "form-control", 'placeholder -> "Repo name")
				<p class="help-block">Project and repository URL slugs from SCM system. E.g. surevine/gateway</p>
			</div>

		</fieldset>

		<div class="actions">
            <input type="submit" value="Create project" class="btn btn-primary">
            <a href="@routes.Projects.list()" class="btn btn-default">Cancel</a>
		</div>

	}

}
