@(projectForm: Form[Project])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(utils.twitterBootstrapInput.render) }

@main("Add Project") {

	<h2>Add project</h2>

	@form(routes.Projects.create(), 'role -> "form") {

		<fieldset>

			@inputText(projectForm("displayName"), '_label -> "Name", '_help -> "Name of project", 'class -> "form-control", 'placeholder -> "Name")
			@inputText(projectForm("projectSlug"), '_label -> "Project slug", '_help -> "Project slug segment of SCM URL", 'class -> "form-control", 'placeholder -> "Project slug")
			@inputText(projectForm("repositorySlug"), '_label -> "Repo slug", '_help -> "Repository slug segment of SCM URL", 'class -> "form-control", 'placeholder -> "Repo slug")

		</fieldset>

		<div class="actions">
            <input type="submit" value="Create project" class="btn btn-primary">
            <a href="@routes.Projects.list()" class="btn btn-default">Cancel</a>
		</div>

	}

}
