@(project: Project, destinationForm: DynamicForm)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(utils.twitterBootstrapInput.render) }

@main("Share project with destination") {

	<h2>Share project with destination</h2>

	@form(routes.Projects.addDestination(project.id), 'role -> "form") {

		<fieldset>

			@select(destinationForm("destination"),
					options = options(Destination.allDestinationSelectOptions(project)))

		</fieldset>

		<div class="actions">
            <input type="submit" value="Share project" class="btn btn-primary">
            <a href="@routes.Projects.view(project.id)" class="btn btn-default">Cancel</a>
		</div>

	}

}
