@(project: Project)

@main("View project") {

	<h2>View project</h2>

	<h4>Project details</h4>
	<p>@project.displayName</p>
	<p>@project.projectSlug</p>
	<p>@project.repositorySlug</p>
	<a href="@routes.Projects.edit(project.id)" class="btn btn-primary btn-sm">Edit</a>

	<h4>Shared destinations</h4>

	<a href="@routes.Projects.addDestination(project.id)" class="btn btn-primary btm-sm">Add destination</a>

    @if(project.destinations.isEmpty) {
    	<p>No destinations!</p>
    } else {
	    <ul>
		    @for(destination <- project.destinations) {
		    	<li>@destination.name (@destination.url)</li>
		    }
	    </ul>
    }

}
