@(destinationForm: Form[Destination])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(utils.twitterBootstrapInput.render) }

@main("Add Destination") {

	<h2>Add destination</h2>

	@form(routes.Destinations.create(), 'role -> "form") {

		<fieldset>

			@inputText(destinationForm("name"), '_label -> "Name", '_help -> "Name of destination", 'class -> "form-control", 'placeholder -> "Name")
			@inputText(destinationForm("url"), '_label -> "URL", '_help -> "URL of destination", 'class -> "form-control", 'placeholder -> "URL")

		</fieldset>

		<div class="actions">
            <input type="submit" value="Create destination" class="btn btn-primary">
            <a href="@routes.Destinations.list()" class="btn btn-default">Cancel</a>
		</div>

	}

}
