@(destination: Destination, projectForm: DynamicForm)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(utils.twitterBootstrapInput.render) }

@main("Share source code project with destination") {

	<h2>Share source code project with destination</h2>

	@form(routes.Destinations.addProject(destination.id), 'role -> "form") {

		<fieldset>

			@select(projectForm("project"),
					options = options(Project.allProjectSelectOptions(destination)))

		</fieldset>

		<div class="actions">
            <input type="submit" value="Share project" class="btn btn-primary">
            <a href="@routes.Destinations.view(destination.id)" class="btn btn-default">Cancel</a>
		</div>

	}

}
