@(destination: Destination, projectForm: DynamicForm)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(utils.twitterBootstrapInput.render) }

@main("Share source code project with destination") {

	<h2>Share source code project with destination</h2>

	<p>Destination: @destination.name</p>

	@form(routes.SharingPartnerships.create(), 'role -> "form") {

		<fieldset>

			<input type="hidden" name="destinationId" value="@destination.id" />

			@select(projectForm("projectId"),
					options = options(Project.allProjectSelectOptions(destination)))

		</fieldset>

		<div class="actions">
            <input type="submit" value="Share project" class="btn btn-primary">
            <a href="@routes.Destinations.view(destination.id)" class="btn btn-default">Cancel</a>
		</div>

	}

}
