@(id: Long, destinationForm: Form[Destination])

@import helper._

@main("Edit destination") {

	<h2>Edit destination</h2>

	@form(routes.Destinations.update(id)) {

		<fieldset>

			@inputText(destinationForm("name"), '_label -> "Name", '_help -> "Name of destination", 'class -> "form-control")
			@inputText(destinationForm("url"), '_label -> "URL", '_help -> "URL of destination", 'class -> "form-control")

		</fieldset>

		<div class="actions">
            <input type="submit" value="Update destination" class="btn btn-primary">
            <a href="@routes.Destinations.view(id)" class="btn btn-default">Cancel</a>
		</div>

	}

    @form(routes.Destinations.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this destination" class="btn btn-danger">
    }

}
