@(id: Long, destinationForm: Form[Destination])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(utils.twitterBootstrapInput.render) }

@main("Edit destination") {

	@form(routes.Destinations.update(id), 'role -> "form") {

		<fieldset>

			<input type="hidden" name="id" value="@id" />
			@inputText(destinationForm("name"),
						'_label -> "Name",
						'_help -> "Name of destination",
						'class -> "form-control",
						'placeholder -> "Name",
						'autofocus -> "autofocus")
			@inputText(destinationForm("url"),
						'_label -> "URL",
						'_help -> "URL of destination",
						'class -> "form-control",
						'placeholder -> "URL")
			@inputText(destinationForm("sourceKey"),
						'_label -> "Source Key",
						'_help -> "Configured key used by partner when exporting items via gateway.",
						'class -> "form-control",
						'placeholder -> "Source key")

		</fieldset>

		<div class="actions">
            <input type="submit" value="Update destination" data-loading-text="Submitting..." class="btn btn-primary submit">
            <a href="@routes.Destinations.list()" class="btn btn-default">Cancel</a>
		</div>

	}

	<script type="text/javascript">
		$( document ).ready(function() {
			$('.submit').on('click', function() {
			    $(this).button('loading');
			});
		});
	</script>

	<h3>Delete destination</h3>

	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm-modal">
	  Delete this destination
	</button>

	<div class="modal fade" id="delete-confirm-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Deletion confirmation</h4>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to delete this destination?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        @form(routes.Destinations.delete(id), 'class -> "modal-form") {
		        <input type="submit" name="delete-destination" value="Delete destination" class="btn btn-danger" />
		    }
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

}
