@(destinations: List[Destination])

@import helper._

@scripts = {
	<script src="@routes.Assets.at("js/notifications.js")" type="text/javascript"></script>
}

@main("Destinations", scripts) {

	<a href="@routes.Destinations.add()" class="btn btn-primary primary-action">Add Destination</a>

    @if(destinations.isEmpty) {

		<div class="panel panel-warning">
		  <div class="panel-heading">
		    <h3 class="panel-title">No destinations</h3>
		  </div>
		  <div class="panel-body">
		    <p>No destinations have been configured. Please <a href="@routes.Destinations.add()">add a destination</a>.</p>
		  </div>
		</div>

    } else {

	    @for(destination <- destinations) {

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title pull-left">@destination.name</h3>
				<div class="clearfix"></div>
			  </div>
			  <div class="panel-body">

			  	<table class="destination-info">
					<tr>
						<th>URL</th>
						<td>@destination.url</td>
					</tr>
					<tr>
						<th>Source key</th>
						<td>@destination.sourceKey</td>
					</tr>
				</table>

				<h4>Shared repositories <span class="badge">@destination.federationConfigurations.length</span></h4>
				<a href="@routes.Destinations.shareProjectPage(destination.id)" class="btn btn-primary btn-sm">Share repository</a>

				<ul class="list-group project-list">
			    @if(destination.federationConfigurations.isEmpty) {
			    	<li class="list-group-item list-group-item-warning">No repository federation configured for this destination</li>
			    } else {
				    @for(configuration <- destination.federationConfigurations) {
				    	<li class="list-group-item">
				    		@configuration.repository.identifier
				    		<span class="label">@configuration.repository.repoType</span> INBOUND[@configuration.inboundEnabled] OUTBOUND[@configuration.outboundEnabled]

							@form(routes.FederationConfigurations.delete(configuration.id)) {
								<input type="hidden" name="source" value="destination" />
						        <input type="submit" value="Unshare" class="btn btn-danger btn-xs pull-right" />
						    }

						    <button type="button" id="resend-@configuration.id" data-loading-text="Sending..." data-configuration-id="@configuration.id" class="btn btn-default btn-xs pull-right resend" autocomplete="off">
								Resend
							</button>

				    	</li>
				    }
			    }
			    </ul>

			  </div>
			  <div class="panel-footer">
			  	<a href="@routes.Destinations.edit(destination.id)" class="btn btn-default btn-sm">Edit destination</a>
			  	<a href="@routes.Destinations.editRules(destination.id)" class="btn btn-default btn-sm">Configure destination rules</a>
			  </div>
			</div>

	    }

	    <script type="text/javascript">
			$( document ).ready(function() {

				// Initialise resend ajax requests
				$('.resend').on('click', function () {

				    var $btn = $(this).button('loading');

					$.ajax({
						url: "@routes.FederationConfigurations.resend()",
						type: "POST",
						data: {
							configurationId: $btn.data("configuration-id")
						},
						success: function(data){
							notifications.success(data);
						},
						error: function(data){
							notifications.error(data.responseText);
						}
					}).always(function(){
						 $btn.button('reset');
					});
				});

			});
		</script>

    }

}
