@(destination: Destination, projectForm: DynamicForm)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(utils.twitterBootstrapInput.render) }

@projectCount = @{ OutboundIssueProject.FIND.all().size() }

@projects = @{ OutboundIssueProject.allProjectShareOptions(destination) }

@main("Share issue repositories") {

	<p>Please select the issue repositories you wish to share with '@destination.name':</p>

	@if(projectCount == 0) {

		<div class="panel panel-warning">
		  <div class="panel-heading">
		    <h3 class="panel-title">No repositories</h3>
		  </div>
		  <div class="panel-body">
		    <p>No repositories have been configured. Please <a href="@routes.OutboundIssueProjects.add()">add a repository</a>.</p>
		  </div>
		</div>

	} else {

		@if(projects.isEmpty) {

			<div class="panel panel-warning">
			  <div class="panel-heading">
			    <h3 class="panel-title">All repositories shared</h3>
			  </div>
			  <div class="panel-body">
			    <p>All configured repositories have been shared with this destination. Please <a href="@routes.OutboundIssueProjects.add()">add another repository</a>.</p>
			  </div>
			</div>

		} else {

			@form(routes.SharingPartnerships.create(), 'role -> "form") {

				<fieldset>

					<input type="hidden" name="source" value="destinationIssues" />
					<input type="hidden" name="destinationId" value="@destination.id" />

					@for(project <- projects) {

						<div class="input-group">
					      <span class="input-group-addon">
					        <input type="checkbox" name="selectedProjects" id="selectedProjects-@project.id" value="@project.id">
					      </span>
					      <label for="selectedProjects-@project.id" class="form-control">@project.displayName <span class="text-muted">@project.projectKey</span></label>
					    </div>

					}

				</fieldset>

				<div class="actions">
		            <input type="submit" value="Share repositories" data-loading-text="Submitting..." class="btn btn-primary submit">
		            <a href="@routes.Destinations.view(destination.id)" class="btn btn-default">Cancel</a>
				</div>

			}

			<script type="text/javascript">
				$( document ).ready(function() {
					$('.submit').on('click', function () {
					    $(this).button('loading');
					});
				});
			</script>

		}

	}

}
