@(destination: Destination, rules: String, error: Boolean, errorMessage: String)

@import helper._

@scripts = {
	<script src="@routes.Assets.at("vendor/ace/ace.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("js/syntax-highlighting.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("js/notifications.js")" type="text/javascript"></script>
}

@main("View destination", scripts) {

	<section>
		<h4>Destination details <a href="@routes.Destinations.edit(destination.id)" class="btn btn-primary btn-xs">Edit</a></h4>
		<table class="destination-info">
			<tr>
				<th>Name</th>
				<td>@destination.name</td>
			</tr>
			<tr>
				<th>URL</th>
				<td>@destination.url</td>
			</tr>
		</table>
	</section>

	<section>
		<h4>Shared source code repositories</h4>
		<a href="@routes.Destinations.shareProjectPage(destination.id)" class="btn btn-primary btn-sm">Share repository</a>

		<ul class="list-group project-list">
	    @if(destination.projects.isEmpty) {
	    	<li class="list-group-item list-group-item-warning">No source code repositories shared to this destination</li>
	    } else {
		    @for(project <- destination.projects) {
		    	<li class="list-group-item">
		    		@project.displayName <span class="text-muted">@project.projectKey/@project.repositorySlug</span>

		    		@form(routes.SharingPartnerships.delete()) {
		    			<input type="hidden" name="source" value="destination" />
						<input type="hidden" name="destinationId" value="@destination.id" />
						<input type="hidden" name="projectId" value="@project.id" />
				        <input type="submit" value="Unshare" class="btn btn-danger btn-xs pull-right" />
				    }

					<button type="button" id="resend-@project.id" data-loading-text="Sending..." data-project-id="@project.id" data-destination-id="@destination.id" class="btn btn-primary btn-xs pull-right resend" autocomplete="off">
						Resend
					</button>

		    	</li>
		    }
	    }
	    </ul>
	</section>

	<section>
		<h4>Shared issue repositories</h4>
		<a href="@routes.Destinations.shareIssueProjectPage(destination.id)" class="btn btn-primary btn-sm">Share repository</a>

		<ul class="list-group project-list">
	    @if(destination.issueProjects.isEmpty) {
	    	<li class="list-group-item list-group-item-warning">No issue repositories shared to this destination</li>
	    } else {
		    @for(project <- destination.issueProjects) {
		    	<li class="list-group-item">
		    		@project.displayName <span class="text-muted">@project.projectKey</span>

		    		@form(routes.SharingPartnerships.deleteIssue()) {
		    			<input type="hidden" name="source" value="issueDestination" />
						<input type="hidden" name="destinationId" value="@destination.id" />
						<input type="hidden" name="projectId" value="@project.id" />
				        <input type="submit" value="Unshare" class="btn btn-danger btn-xs pull-right" />
				    }

					<button type="button" id="resend-@project.id" data-loading-text="Sending..." data-project-id="@project.id" data-destination-id="@destination.id" class="btn btn-primary btn-xs pull-right resendIssue" autocomplete="off">
						Resend
					</button>

		    	</li>
		    }
	    }
	    </ul>
	</section>

	<section>
		<h4>Destination rules <a href="@routes.Destinations.editRules(destination.id)" class="btn btn-primary btn-xs">Edit</a></h4>

		@if(error) {
			<div class="alert alert-danger" role="alert"><strong>Error!</strong> Could not load rule file: <strong>@errorMessage</strong>. This may cause issues for gateway functionality.</div>
		} else {
			<pre id="destination-rules">@rules</pre>
		}
	</section>

	<script type="text/javascript">
		$( document ).ready(function() {
			syntaxHighlighter.initViewCodePane(document.getElementById('destination-rules'));

			// Initialise resend ajax requests
			$('.resend').on('click', function () {

			    var $btn = $(this).button('loading');

				$.ajax({
					url: "@routes.SharingPartnerships.resend()",
					type: "POST",
					data: {
						projectId: $btn.data("project-id"),
						destinationId: $btn.data("destination-id")
					},
					success: function(data){
						notifications.success(data);
					},
					error: function(data){
						notifications.error(data.responseText);
					}
				}).always(function(){
					 $btn.button('reset');
				});
			});

			// Initialise resend ajax requests
			$('.resendIssue').on('click', function () {

			    var $btn = $(this).button('loading');

				$.ajax({
					url: "@routes.SharingPartnerships.resendIssue()",
					type: "POST",
					data: {
						projectId: $btn.data("project-id"),
						destinationId: $btn.data("destination-id")
					},
					success: function(data){
						notifications.success(data);
					},
					error: function(data){
						notifications.error(data.responseText);
					}
				}).always(function(){
					 $btn.button('reset');
				});
			});

		});
	</script>

}
