@(pagename: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Community Portal Management Console: @pagename</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("vendor/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">

        <link rel="shortcut icon" href="@routes.Assets.at("img/favicon.ico")">

		<script src="@routes.Assets.at("vendor/jquery/jquery-1.11.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("vendor/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

		@scripts

    </head>
    <body>

		<header>
    		@navigation()
		</header>

    	<div class="container" id="content">

    		<h2>@pagename</h2>

			<div id="alerts">
    		@if(flash.contains("success")) {
    			<div class="alert alert-success" role="alert">
    				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    				<strong>Success!</strong> @flash.get("success")
    			</div>
    		}

    		@if(flash.contains("error")) {
    			<div class="alert alert-danger" role="alert">
    				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    				<strong>Error!</strong> @flash.get("error")
    			</div>
    		}
			</div>

	        @content

    	</div>

    </body>
</html>
