<!DOCTYPE html>

<html>
    <head>
        <title>Gateway Management Console: @pagename</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("vendor/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

    </head>
    <body>

    	<div class="container" id="content">
    		<h2>Unauthorised</h2>
			<p>Your browsing session could not be authorised. Please try again.</p>
    	</div>

    </body>
</html>
