@(projects: List[OutboundProject])

@main("Outbound source code repositories") {

    <a href="@routes.OutboundProjects.add()" class="btn btn-primary primary-action">Add Repository</a>

    @if(projects.isEmpty) {

		<div class="panel panel-warning">
		  <div class="panel-heading">
		    <h3 class="panel-title">No outbound repositories</h3>
		  </div>
		  <div class="panel-body">
		    <p>No outbound repositories have been configured. Please <a href="@routes.OutboundProjects.add()">add an outbound repository</a>.</p>
		  </div>
		</div>

    } else {

	    @for(project <- projects) {

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title pull-left"><a href="@routes.OutboundProjects.view(project.id)">@project.displayName</a></h3>
				<div class="panel-actions pull-right">
				  	<a href="@routes.OutboundProjects.edit(project.id)" class="btn btn-default btn-xs">Edit</a>
				  	<a href="@routes.OutboundProjects.view(project.id)" class="btn btn-primary btn-xs">View</a>
				</div>
				<div class="clearfix"></div>
			  </div>
			  <div class="panel-body">
			    <p>@project.projectKey / @project.repositorySlug</p>
			    <p class="text-muted">Repository shared with @project.destinations.length destinations.</p>
			  </div>
			</div>

	    }

    }


}
