@(project: OutboundProject)

@import helper._

@scripts = {
	<script src="@routes.Assets.at("js/notifications.js")" type="text/javascript"></script>
}

@main("View outbound source code repository", scripts) {

	<section>
		<h4>Repository details <a href="@routes.OutboundProjects.edit(project.id)" class="btn btn-primary btn-xs">Edit</a></h4>
		<table class="destination-info">
			<tr>
				<th>Name</th>
				<td>@project.displayName</td>
			</tr>
			<tr>
				<th>Repository URL</th>
				<td>@project.projectKey/@project.repositorySlug</td>
			</tr>
		</table>
	</section>

	<section>
		<h4>Shared destinations</h4>
				<a href="@routes.OutboundProjects.shareProjectPage(project.id)" class="btn btn-primary btn-sm">Share repository</a>

		<ul class="list-group project-list">
	    @if(project.destinations.isEmpty) {
	    	<li class="list-group-item list-group-item-warning">This repository is not being shared with any destinations</li>
	    } else {
		    @for(destination <- project.destinations) {
		    	<li class="list-group-item">
					@destination.name <span class="text-muted">@destination.url</span>
					@form(routes.SharingPartnerships.delete()) {
						<input type="hidden" name="source" value="project" />
						<input type="hidden" name="destinationId" value="@destination.id" />
						<input type="hidden" name="projectId" value="@project.id" />
				        <input type="submit" value="Unshare" class="btn btn-danger btn-xs pull-right" />
				    }

					<button type="button" id="resend-@project.id" data-loading-text="Sending..." data-project-id="@project.id" data-destination-id="@destination.id" class="btn btn-primary btn-xs pull-right resend" autocomplete="off">
						Resend
					</button>

				</li>
		    }
	    }
	    </ul>
	</section>

	<script type="text/javascript">
		$( document ).ready(function() {

			// Initialise resend ajax requests
			$('.resend').on('click', function () {

			    var $btn = $(this).button('loading');

				$.ajax({
					url: "@routes.SharingPartnerships.resend()",
					type: "POST",
					data: {
						projectId: $btn.data("project-id"),
						destinationId: $btn.data("destination-id")
					},
					success: function(data){
						notifications.success(data);
					},
					error: function(data){
						notifications.error(data.responseText);
					}
				}).always(function(){
					 $btn.button('reset');
				});
			});
		});
	</script>

}
